* {
    font-family: 'Press Start 2P';
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    margin: 0;
    height: 100vh;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Painel principal */
.panel {
    width: 300px;
    background: #4b4b4b;
    border: 4px solid #2b2b2b;
    padding: 16px;
    box-shadow:
        inset -4px -4px 0 #3a3a3a,
        inset 4px 4px 0 #6a6a6a;
}

/* Título */
.panel h1 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 18px;
}

/* Botões */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #8b8b8b;
    border: 3px solid #2f2f2f;
    color: white;
    cursor: pointer;
    box-shadow:
        inset -3px -3px 0 #6b6b6b,
        inset 3px 3px 0 #bcbcbc;
}

button:hover {
    background: #9c9c9c;
}

button:active {
    box-shadow: inset 3px 3px 0 #6b6b6b;
}

/* Inputs */
input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: #ffffff;
    border: 3px solid #2f2f2f;
    font-size: 12px;
}

/* Esconder telas */
.hidden {
    display: none;
}
